div {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 5rem;
}
  
.Questions button {
    text-decoration: underline;
}
  
.Questions h1 {
    font-size: 1.5rem;
    margin: 0;
    text-transform: uppercase;
}