.App {
  background-color: #f8cc46;
  width: 750px;
  padding: 1rem;
  margin: 1rem auto;
}

.Navbar {
  background-color: #000;
  padding: 1rem;
  margin-bottom: 1rem;
}

.Navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Navbar li {
  display: inline-block;
  margin: 0 1.75rem 0 0;
}

.Navbar button {
  color: #fff;
  font-weight: bold;
}

/* 
.Questions {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 5rem;
}

.Questions button {
  text-decoration: underline;
}

.Questions h1 {
  font-size: 1.5rem;
  margin: 0;
  text-transform: uppercase;
}
*/

button {
  background-color: transparent;
  padding: 0;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: medium;
}

